{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Bain de Mousse{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'ecommerce/images/icons/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'ecommerce/css/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ecommerce/css/lightslider.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="{% static 'ecommerce/js/jquery.js' %}" ></script>
    <script src="{% static 'ecommerce/js/lightslider.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    
</head>
<body class="d-flex flex-column">
    <div class="">
        <header class="d-block">
            <nav class="cart navbar fixed-top navbar-expand-md navbar-light bg-cream border-bottom">
                <div class="container-fluid container-header">
                    <a class="navbar-brand" href="/"><img class="header-logo" src="{% static 'ecommerce/images/icons/header logo transparent.png' %}" alt="Bain de Mousse" height="60px"></a>
                    <div class="d-flex align-items-center">
                        <button class="navbar-toggler p-2 ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon d-block my-auto h-100 w-auto"></span>
                        </button> 
                        <div class="collapse navbar-collapse" id="navbarCollapse">
                            <div class="container-fluid">
                                <ul class="d-flex justify-content-end align-items-center navbar-nav me-auto mb-2 mb-md-0">
                                    <li class="nav-item active">
                                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Shop
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{% url "ecommerce:all_view" %}">All Products</a></li>
                                            {% for c in categories %}
                                            <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                                                <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            About
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{% url "ecommerce:our_brand_view" %}">Our Brand</a></li>
                                            <li><a class="dropdown-item" href="{% url "ecommerce:our_giving_view" %}">Our Giving</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "ecommerce:faq_view" %}">FAQ</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link nav-link-l" href="{% url "ecommerce:contact_view" %}">Contact</a>
                                    </li>
                                    {% if user.is_authenticated %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                <img class="btn-cart-icon me-2"src="{% static 'ecommerce/images/icons/user.svg' %}" alt="">
                                                <span class="">{{ user.first_name }}</span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" href="{% url "account:dashboard" %}">Dashboard</a></li>
                                            <li>
                                                <a type="button" role="button" href="{% url "account:logout" %}"
                                                    class="dropdown-item">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                                        class="bi bi-door-closed" viewBox="0 0 16 16">
                                                        <path
                                                            d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z" />
                                                        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
                                                    </svg>
                                                    <span class="">Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a type="button" role="button" href="{% url "account:login" %}"
                                            class="btn btn-outline-secondary border-0 log-btn">
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                                    class="bi bi-door-closed" viewBox="0 0 16 16">
                                                    <path
                                                        d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z" />
                                                    <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
                                                </svg>
                                            </div>
                                            <span class="">Login</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <a href="{% url "cart:cart_view" %}" class="nav-link btn btn-cart text-nowrap btn-gradient d-none d-sm-block ms-3">
                            <div class="d-flex align-items-center justify-content-center gap-1">
                                {% with total_qty=cart|length %}
                                <div id="cart-qty" class="d-inline-flex">    
                                    {% if total_qty > 0 %}
                                        <span class="cart-btn-text">{{ total_qty }}</soan>
                                    {% else %}
                                        <span class="cart-btn-text">0</span>
                                    {% endif %}
                                </div>
                                {% endwith %}
                                <img class="btn-cart-icon me-1" src="{% static 'ecommerce/images/icons/cart.png' %}" alt="">
                                <span class="cart-btn-text my-auto">Your Cart</span>
                            </div>
                        </a>
                        <a href="{% url "cart:cart_view" %}" class="nav-link btn btn-gradient btn-cart-i d-block d-sm-none ms-2 p-2">
                            <div class="d-flex justify-content-center">
                                {% with total_qty=cart|length %}
                                <div id="cart-qty" class="d-inline-flex">    
                                    {% if total_qty > 0 %}
                                        <span class="cart-btn-text">{{ total_qty }}</soan>
                                    {% else %}
                                        <span class="cart-btn-text">0</span>
                                    {% endif %}
                                </div>
                                {% endwith %}
                                <img class="btn-cart-icon d-block m-1" src="{% static 'ecommerce/images/icons/cart.png' %}" alt="">
                            </div>
                            
                        </a>
                    </div>
                        
                    </div>
                </nav>
        </header>
        <main class="" id="content">{% block content %} {% endblock %}</main>
    </div>
    <footer class="mt-5">
        <div class="footer">
            <img class="footer-img img-fluid" src="{% static 'ecommerce/images/icons/footer wave.png' %}" alt="">
            <div class="footer-space">
                <div class="footer-container d-flex justify-content-center align-items-start flex-wrap">
                    <div class="footer-links d-flex justify-content-center align-items-start flex-wrap">
                        <div class="d-flex flex-column justify-content-center">
                            <p>MAIN MENU</p>
                            <div class="links d-flex flex-column ">
                                <a class="" href="{% url "ecommerce:home_view" %}"><p>Home</p></a>
                                <a class="" href="{% url "ecommerce:all_view" %}"><p>Shop</p></a>
                                <a class="" href="{% url "ecommerce:faq_view" %}"><p>FAQ</p></a>
                                <a class="" href="{% url "ecommerce:contact_view" %}"><p>Contact</p></a>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-1 justify-content-center">
                            <p>ABOUT</p>
                            <div class="links d-flex flex-column">
                                <a class="" href="{% url "ecommerce:our_brand_view" %}"><p>Our Brand</p></a>
                                <a class="" href="{% url "ecommerce:our_giving_view" %}"><p>Our Giving</p></a>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <p>SHOP</p>
                            <div class="links d-flex flex-column">
                                {% for c in categories %}
                                <a class="" href="{{ c.get_absolute_url }}"><p>{{ c.name|title }}</p></a>
                                {% endfor %}
                                <a class="" href="{% url "ecommerce:custom_view" %}"><p>Customise Your Own</p></a>
                            </div>
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                            <p>FIND US ON</p>
                            <a href="https://www.instagram.com/baindemousse.sg/"><p>Instagram @baindemousse.sg</p></a>
                            <p>EMAIL US</p>
                            <p>general@baindemousse.com<p>
                        </div>
                    </div>
                    
                    <a href="{% url "ecommerce:home_view" %}"><img class="logo" src="{% static 'ecommerce/images/icons/logo transparent.png' %}" alt=""></a>
                </div>
                <div class="copyright d-flex justify-content-center align-items-center">
                    <img class="copyright-img" src="{% static 'ecommerce/images/icons/copyright.png' %}" alt="">
                    <p class="my-auto">2022 Bain de Mousse</p>
                </div>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{% static 'ecommerce/js/script.js' %}"></script>
</html>